.carrossel-titulo{
    color: var(--cor-menu);
    background-color: var(--cor-de-cabeçalho);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
    border-radius: 10px;
}

.swiper-button-prev, 
.swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 1em 0;
}

.carrossel{
    padding: 2.5em 0;
}

.card-descricao{
    display: flex;
    justify-content: space-evenly;
}

.card-botoes{
    display: flex;
    justify-content: space-evenly;
}

.botoes{
    display: flex;
}

.card{
    background: var(--cor-de-texto-principal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 1em;
    padding: 1em;
}

.descricao-titulo{
    color: var(--cor-menu-itens);
    font-weight: 700;
    font-size: 20px;
    margin: 0.5em 0;
}

.descricao-texto{
    font-size: 16px;
    font-weight: 700;
}

.descricao-imagem{
    border-radius: 20px;
}

.botoes-itens{
    margin: 0 30em 0 0;
}

.botoes-ancora{
    margin: 0.5em 0 0 -5.5em;
    background-color: var(--cor-menu);
    padding: 1em 6.5em;
    color: var(--cor-de-texto-principal);
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
}
