hr{
    margin: 0;
}

.rodape{
    background-color: var(--cor-de-cabeçalho);
    padding: 0.5em;
    color: var(--cor-de-texto-principal);
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
    }
    
    .lista-rodape{
        display: block;
    }

    .lista-rodape-item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape-link{
        color: var(--cor-menu);
        text-decoration: none;
        margin-left: 1em;
        font-size: 14px;
    }

    .lista-rodape-titulo{
        font-size: 16px;
    }
}
